<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Pomodoro"
            id="epomodoro">
      </category>
      <view
            allowMultiple="false"
            category="epomodoro"
            class="net.mornati.epomodoro.views.TeamStatus"
            icon="icons/team.png"
            id="epomodoro.views.TeamStatus"
            name="Team Messages">
      </view>
      <view
            allowMultiple="false"
            category="epomodoro"
            class="net.mornati.epomodoro.views.CountDownTimer"
            icon="icons/pomodoro.png"
            id="epomodoro.views.CountDownTimer"
            name="CountDown Timer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="epomodoro.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.mornati.epomodoro.preference.PomodoroPreferencePage"
            id="epomodoro.Preferences"
            name="Pomodoro Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.mornati.epomodoro.preference.PomodoroPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.mornati.epomodoro.handlers.SendMessageHandler"
            commandId="net.mornati.epomodoro.handlers.SendMessageHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:epomodoro.views.TeamStatus">
         <command
               commandId="epomodoro.SendMessageCommand"
               icon="icons/message.png"
               label="Send Message"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.mornati.epomodoro.handlers.SendMessageHandler"
            id="epomodoro.SendMessageCommand"
            name="Send Message">
      </command>
   </extension>

</plugin>
